<h2>自己アピール</h2>

<%= form_for @appeal do |f| %>
  <%= render "devise/shared/error_messages", resource: @appeal %>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :performance %><br />
    <%= f.text_field :performance %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
